<!DOCTYPE html>
<html>

<body>

    <title> DATE NIGHT POST </title>

    <section class="header_box">

        <div class="index_header">

            <div align="center">
                <%= image_tag("datenightpost.png", :width => 205, :height => 95) %>
            </div>

        </div>

        <div class="nav_bar">
          <ul class="nav_tags">
            <li> <a href="/about">ABOUT</a></li>
            <li> <a href="/FAQ">FAQ</a></li>
            <li> <a href="/contact">CONTACT US</a></li>
            <li> <a href="/thanks">SPECIAL THANKS</a></li>
          </ul>
        </div> <!-- /.nav_bar -->  

    </section> 

    <div class="elevator_pitch_box">
        <div class="elevator_pitch">
            <h3> HELPING COUPLES KEEP THEIR SPARK ALIVE </h3>
            <h4>We're re-inventing Date Night - starting by reminding of you of the most important dates in your relationship. Wether you want to remember you partner's birthday or your anniversary, sign up for free reminders below. We'll also send you some awesome ideas for how to spend those days (& nights).</h4><br/>
        </div>
    </div>

        <section class="reminders_box">
            <% flash.each do |type, msg| -%>
            <%= content_tag :div, msg, class: type %>
            <% end -%>   

        <div class="reminders_form">
    
        <h5>Ready to get started? Add a reminder for any date (in the past or future) that you might need help remembering! You can submit as many reminders as your heart desires.</h5>
        <%= form_for @email, url: confirm_path, html: {class: "input_form"} do |f| %>
    	
    	   <%= f.fields_for :reminders do |reminders_form| %>

                <%= reminders_form.label :date, 'Date*' %>
                <%= reminders_form.date_field :date %><br/>
     
     <!-- Should add a section on what it's for -->
            
                <%= reminders_form.label :date_type, "What's this reminder for?*" %>
                <%= reminders_form.select :date_type, ["Birthday", "Anniversary", "Plan a Date Night", "Other"] %><br/>

                <%= reminders_form.label :message, 'Want to include a note in your reminder?*' %> <br/>
                <%= reminders_form.text_area :message %><br/>

    		    <p>When would you like us to remind you?</p>

                <%= reminders_form.check_box :frequency_day %>
            	<%= reminders_form.label :frequency_day, "1 Day Before" %><br/>

                <%= reminders_form.check_box :frequency_week %>
                <%= reminders_form.label :frequency_week, "1 Week Before" %><br/>
                
                <%= reminders_form.check_box :frequency_twoweek %>
                <%= reminders_form.label :frequency_twoweek, "2 Weeks Before" %><br/>
                
                <%= reminders_form.check_box :frequency_month %>
                <%= reminders_form.label :frequency_month, "1 Month Before" %><br/>

                <p>How should we send your reminders?</p>

                <%= reminders_form.check_box :method_text %>
                <%= reminders_form.label :method_text, "Remind me via text" %><br/>

                <%= reminders_form.check_box :method_email %>
                <%= reminders_form.label :method_email, "Remind me via email" %><br/><br/>
            

            <% end %>

    	    <%= f.label :email, "Email*" %>:
      	    <%= f.email_field :email %><br/>

            <%= f.label :sms, "Phone Number" %>:
            <%= f.telephone_field :sms %><br/> <br/>

        	<%= f.check_box :opt_in, {:checked=>true} %>
        	<%= f.label :opt_in, "Yes, I'd like to receive juicy updates from Date Night Post.", class: "opt_in" %><br/><br/><br/>

          	<%= f.submit "SUBMIT", class: "submit_button" %><br/><br/>

        <% end %>
        </div>
        </section>

<!-- FOOTER -->

    <div class="footer">
      <ul class="footer-tags">
        <li> <a href="/about">About</a></li>
        <li> <a href="/FAQ">FAQ</a></li>
        <li> <a href="/contact">Contact Us</a></li>
      </ul>
      <p>&copy 2014 Date Night Post, Inc.</p>
      <p> Built from scratch & with <span class="heart">&hearts;</span> in Brooklyn, NY</p>
    </div><!-- /.footer -->

</body>

</html>
